 * {
      box-sizing: border-box;
    }

    body {
      margin: 0;
      font-family: 'Segoe UI', Tahoma, sans-serif;
      background: #131313;
      color: #eee;
      display: flex;
      flex-direction: column;
      height: 100vh;
      overflow: hidden;
    }

    .header {
        font-size: 4rem;
        background-color: #00000000;
    }

    header, footer {
      background: #000000;
      color: #363636;
      text-align: center;
      padding: 1rem;
      font-weight: 600;
      font-size: 1.2rem;
      z-index: 10;
    }

    footer {
      font-size: 0.9rem;
      color: #6c6c7d;
    }

    main {
      flex: 1;
      overflow-y: auto;
      padding: 8rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      width: 100%;
      margin: 0;
 
    }

    .soundControl {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }

    .soundLabel {
      font-size: 1.8rem;
      font-weight: bold;
      margin: 4vh;
      color: #d4d4f0;
      margin-bottom: 1rem;
    }

    .volumeControl {
      -webkit-appearance: none;
      width: 100%;
      height: 14px;
      background: #000000;
      border-radius: 10px;
      cursor: pointer;
      outline: none;
    }

    .volumeControl:hover {
      background: #ebebeb;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0);

    }

    .volumeControl::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: clamp(40px, 10vw, 60px);
      height: clamp(40px, 10vw, 60px);
      background: var(--thumb-img) no-repeat center center;
      background-size: contain;
      border: none;
      border-radius: 8px;
      margin-top: calc(-1 * (clamp(40px, 10vw, 60px) / 2) + 7px);
      cursor: pointer;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
      transition: transform 0.15s ease;
    }

    .volumeControl::-webkit-slider-thumb:hover {
      transform: scale(1.15);
            box-shadow: 0 0px 5px rgba(0, 0, 0, 0);

    }

    .volumeControl::-moz-range-thumb {
      width: clamp(40px, 10vw, 60px);
      height: clamp(40px, 10vw, 60px);
      background: var(--thumb-img) no-repeat center center;
      background-size: contain;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
      transition: transform 0.15s ease;
    }

    .volumeControl::-moz-range-thumb:hover {
      transform: scale(1.15);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0);

    }

    /* Scrollbar (optional) */
    main::-webkit-scrollbar {
      width: 8px;
    }
    main::-webkit-scrollbar-thumb {
      background-color: #ffffff;
      border-radius: 4px;
    }
    main::-webkit-scrollbar-track {
      background: #1e1e2f;
    }
